{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="pt-4">{{title}}</h1>
    <hr>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <a href="{{url_for('new_pokemon_type')}}" class="btn btn-outline-success float-end">
          <i class="bi bi-database-add"></i>
          New Pokemon Type
        </a>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for t in types %}
        <tr>
          <th scope="row">{{loop.index}}</th>
          <td>{{t.tname}}</td>
          <td>
            <a href="{{url_for('edit_pokemon_type', id=t.id)}}" class="btn btn-outline-success btn-sm" title="Edit Pokemon Type">
              <i class="bi bi-pencil-square"></i>
            </a>
            <a href="{{url_for('remove_pokemon_type', id=t.id)}}" class="btn btn-outline-danger btn-sm" title="Remove Pokemon Type">
              <i class="bi bi-trash3"></i>
            </a>
          </td>
          
        </tr>
        {% endfor %}
        
        
        
      </tbody>
    </table>
  </div>
{% endblock %}

